<h4>Welcome, <span>
    <%= user.name.split(" ")[0] %> </span></h4>

<div class=" dropdown">
      <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
        aria-expanded="false">
        <!-- <img src="/assets/profile.png" alt="Profile" class="profile-icon" width="35px" /> -->
         <i class="bi bi-person-circle"></i>
      </a>

      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="/profile">Profile</a></li>
        <li><a class="dropdown-item" href="/my-bookings">My Bookings</a></li>
        <li><a class="dropdown-item" href="/signout">Sign out</a></li>
      </ul>
      </div>