<footer class="bg-light text-center py-3" id="footer">
  <div class="container-fluid">
    <div class="row py-5">
      <!-- Section 1 -->
      <div class="col-6 col-md-2 mb-3">
        <h5>About Us</h5>
        <ul class="list-unstyled">
          <li><a href="#">About Hanz Airlines</a></li>
          <li><a href="#">Advertise with us</a></li>
          <li><a href="#">Hanz Tourism</a></li>
          <li><a href="#">Media Center</a></li>
          <li><a href="#">Careers</a></li>
        </ul>
      </div>

      <!-- Section 2 -->
      <div class="col-6 col-md-2 mb-3">
        <h5>Services</h5>
        <ul class="list-unstyled">
          <li><a href="#">Cargo</a></li>
          <li><a href="#">Training</a></li>
          <li><a href="#">Ground Handling</a></li>
          <li><a href="#">Hanz Holidays</a></li>
          <li><a href="#">Hanz Catering</a></li>
        </ul>
      </div>

      <!-- Section 3 -->
      <div class="col-6 col-md-2 mb-3">
        <h5>Terms & Conditions</h5>
        <ul class="list-unstyled">
          <li><a href="#">Online Booking Terms of Use</a></li>
          <li><a href="#">Conditions of Carriage</a></li>
          <li><a href="#">Notices For Travel Agents</a></li>
        </ul>
        <h5 class="mt-4">Help</h5>
        <ul class="list-unstyled">
          <li><a href="#">24 Hours Contact Center</a></li>
          <li><a href="#">FAQs</a></li>
        </ul>
      </div>

      <!-- Newsletter -->
      <div class="col-md-5 offset-md-1 mb-3">
        <h5>Subscribe to our newsletter</h5>
        <p>Monthly digest of what's new and exciting from us.</p>
        <form class="d-flex">
          <input
            type="email"
            class="form-control me-2"
            placeholder="Email address"
          />
          <button class="btn btn-light" type="button">Subscribe</button>
        </form>
      </div>
    </div>

    <!-- Footer Bottom -->
    <div class="d-flex justify-content-between py-3 footer-bottom">
      <p class="mb-0">&copy; 2024 Hanz Airlines, Inc. All rights reserved.</p>
      <div>
        <a href="#" class="text-white me-3"
          ><i class="bi bi-twitter fs-4"></i
        ></a>
        <a href="#" class="text-white me-3"
          ><i class="bi bi-facebook fs-4"></i
        ></a>
        <a href="#" class="text-white me-3"
          ><i class="bi bi-instagram fs-4"></i
        ></a>
        <a href="#" class="text-white me-3"
          ><i class="bi bi-linkedin fs-4"></i
        ></a>
        <a href="#" class="text-white"><i class="bi bi-youtube fs-4"></i></a>
      </div>
    </div>
  </div>
</footer>